<%-include("partials/header") %> 
<h1>Home</h1>
<p><%=text%></p>
   <%postsArr.forEach(function(post){%>
    <h1><%=post.title %></h1>
    <p><%=post.postbody.slice(0,100) %> .... <a href="/posts/<%=post.title %>">Read More</a></p>
    <%});%>
<%-include("partials/footer") %> 